{% extends "layout.njk" %}

{% block head %}

    <title>Create - Estudy</title>
    <link rel="stylesheet" href="/styles/create-teacher.css">

{% endblock head %}

{% block content %}

    <div class="card">

        <section class="avatar"></section>

        <section>
            <form class="details" method="POST" action="/teachers">
                <h3>Details</h3>

                {% include 'fields.njk' %}

            </form>
        </section>

    </div>

{% endblock content %}