{% extends "layout.njk" %}

{% block head %}

    <title>Create - Estudy</title>
    <link rel="stylesheet" href="/styles/create-teacher.css">

{% endblock head %}

{% block content %}

    <div class="card">

        <section class="avatar" style=" background: url({{teacher.avatar_url}}) no-repeat center center / cover"></section>

        <section class="details">
            <form action="/teachers?_method=PUT" method="POST">
                <h3>Edit</h3>

                {% include 'fields.njk' %}

                <input type="hidden" name="id" value="{{teacher.id}}">

            </form>
            <form id="form-delete" action="/teachers?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{teacher.id}}">
                <button type="submit">Delete</button>
            </form>
        </section>

    </div>

{% endblock content %}