<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}{% endblock head %}
    </head>
    <body>

        <header>
            <div class="links">
                <a href="/teachers" class="active">Teachers</a>
                <a href="/students">Studentes</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

    </body>
</html>