{% extends "layout.njk" %}

{% block head %}
    <title>Page Not Found - Estudy</title>
    <link rel="stylesheet" href="/styles/not-found.css">
{% endblock head %}

{% block content %}
    <div id="content">
        <h1>Error 404 - Page not found</h1>
    </div>
{% endblock content %}