{% extends "layout.njk" %}

{% block head %}

    <title>Teachers - Estudy</title>
    <link rel="stylesheet" href="/styles/show.css">

{% endblock head %}

{% block content %}

    <div class="card">

        <section class="avatar" style="background: url(https://source.unsplash.com/user/erondu/320x200) no-repeat center center / cover"></section>

        <section class="details">
            <h3>Details</h3>

            <div class="item">
                <div>Teacher</div>
                <div>{{teacher.name}}</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>{{teacher.age}}</div>
            </div>

            <div class="item">
                <div>Education level</div>
                <div>{{teacher.education_level}}</div>
            </div>

            <div class="item">
                <div>Class type</div>
                <div>{{teacher.class_type}}</div>
            </div>

            <div class="item">
                <div>Monitoring</div>
                {% for occupation in teacher.occupation_area %}
                    <span>{{occupation}}</span>
                {% endfor %}
            </div>

            <div class="item">
                <div>Since</div>
                <div>{{teacher.created_at}}</div>
            </div>

            <a href="" class="button">Editar</a>
        </section>

    </div>

{% endblock content %}