{% extends "layout.njk" %}

{% block head %}

    <title>Students - Estudy</title>
    <link rel="stylesheet" href="/styles/students.css">

{% endblock head %}

{% block content %}

Students

{% endblock content %}