{% extends "layout.njk" %}

{% block head %}

    <title>Teachers - Estudy</title>
    <link rel="stylesheet" href="/styles/teachers.css">

{% endblock head %}

{% block content %}

Teachers

{% endblock content %}