{% extends "layout.njk" %}

{% block head %}

    <title>Teachers - Estudy</title>
    <link rel="stylesheet" href="/styles/teachers.css">

{% endblock head %}

{% block content %}

    <div class="card table-container">

        <table>
            <thead>
                <tr>
                    <th>Teachers</th>
                    <th>Occupation</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>
                                <span style="background: url({{teacher.avatar_url}}})"></span>
                                {{teacher.name}}</td>
                            <td>
                                {% for occupation in teacher.occupation_area %}
                                    <span>{{occupation}}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="/teachers/{{teacher.id}}">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    {% endblock content %}