{% extends "layout.njk" %}

{% block head %}

    <title>Teachers - Estudy</title>
    <link rel="stylesheet" href="/styles/teachers.css">

{% endblock head %}

{% block content %}

    <div class="card">

        <section class="avatar"></section>

        <section class="details">
            <h3>Details</h3>

            <div class="item">
                <div>Teacher</div>
                <div>Mr.</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>45</div>
            </div>

            <div class="item">
                <div>Education level</div>
                <div>Doctorate degree</div>
            </div>

            <div class="item">
                <div>Class type</div>
                <div>Remotely</div>
            </div>

            <div class="item">
                <div>Monitoring</div>
                <span>Mathematics</span>
                <span>Physics</span>
            </div>

            <div class="item">
                <div>Age</div>
                <div>45</div>
            </div>

            <div class="item">
                <div>Since</div>
                <div>1994</div>
            </div>
        </section>

    </div>

{% endblock content %}