@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

:root {
    --primary-color: #00b4d8;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    width: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 20px;
}


.links a {
    color: #48cae4;
    text-decoration: none;
    position: relative;
}

.links a + a {
    margin-left: 30px;
}

.links a.active {
    color: var(--primary-color);
    font-weight: 700;
}

.links a:hover {
    color: var(--primary-color);
    transition: color 400ms;
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    left: 0;
    bottom: -2px;
    position: absolute;
    text-align: center;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* === CARD === */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 4fr;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);

    animation: up 2000ms ease-in-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* === AVATAR === */

.avatar {
    height: 100%;
    width: 320px;
}

/* === DETAILS === */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: 700;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color)
}

.details .item span {
    padding: 8px 16px;
    background-color: #5555;
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

input {
    outline: none;
    font-size: 14px;;
    color: #555;
}

label {
    font-size: 12px;
    margin-right: 4px;
    text-transform: uppercase;
    color: #555;
}

select {
    color: #555;
    font-size: 14px;
}

button {
    width: 100%;
    height: 32px;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin-top: 32px;

    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#form-delete button {
    margin-top: 8px;
    background-color: salmon;
}